* {
    font-family: 'Special Elite', cursive;
    margin: 0;
}

/*Requisito 1*/
.header {
    display: flex;
    justify-content: space-between;
    flex-grow: 5;
    background-color: rgb(50, 167, 145);
}

/*Requisito 3*/
.trybewarts-login {
    display: flex;
    align-items: center;
    font-size: 1em;
}

.form-control {
    margin-left: 5px;
    margin-right: 5px;
}

button {
    width: 300px;
}

/*Requisito 4*/
#trybewarts-header-title {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

/* Requisito 5 tag main */
main { 
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

/*Requisito 5 e 6 formulario*/
#evaluation-form {
    display: flex;
    flex-direction: column;
    width: 675px;    
}

/*Requisito 7 imagem*/
#trybewarts-forms-logo { 
    height: 500px;
}

/* Requisito 10 os inputs de nome e sobrenmome*/
.inputNomeSobrenome { 
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

/*Utilizei o metodo cascata pra pegar só os inputs e colocar margem neles */
.inputNomeSobrenome input { 
    margin: 5px;
}

/*Requisito 11 - Separei em divs para conseguir mexer como um 'conteiner' separado*/
.email-e-casas { /*O input de email e o select das casas*/
    display: flex;
    align-content: space-around;
    margin: 5px;
}

/*Utilizei o metodo cascata pra pegar cada item individual, nesse e no item abaixo */
.email-e-casas input { 
    margin: 5px;
}

.email-e-casas label {
    margin: 5px;
    font-size: 13pt;
}

/*Requisito 12 posicionar os radios um abaixo do outro*/
.familia {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin: 5px;
}

.familia label {
    margin-left: 5px;
}

.avaliacaoSection div {
    display: inline;
    margin: 10px;
    text-align: justify;
}
