body {
    background-color: forestgreen;
}

form * {
    cursor: pointer;
    transition: all 0.2s ease;
}

.container {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 10px 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 25pt;
    color: white;
}

#value {
    border: 3px solid rgb(7, 87, 7);
    background-color: green;
    color: white;
    border-radius: 5px;
    text-align: center;
}

#options {
    border: 3px solid rgb(7, 87, 7);
    background-color: green;
    color: white;
    border-radius: 5px;
    text-align: center;
}

#button {
    border: 0 none;
    background-color: green;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 12pt;
    width: 80px;
    height: 25px;
}