.orderly-list {
    background-color: rgb(216, 216, 5);
}

.orderly-list li:nth-of-type(even) {
    color: rgba(0, 128, 0, 0.715);
    font-weight: bolder;
}

.orderly-list li:nth-of-type(odd) {
    text-transform: uppercase;
}

h1, h2, h3 {
    color: red;
}

h1 {
    font-size: 40px;
    border: 1px black solid;
}

li {
    font-size: 20px;

}

.disordely-list li:nth-child(-n+3) {
    color: blue;
}

.pink {
    background-color: pink;
}

